.bg-info {
    background-color: #17a2b8 !important;
}

.table-info {
    --bs-table-bg: #bee5eb !important;
}

.text-info {
    color: #17a2b8 !important;
}

header i {
    font-size: 40px;
}
a > i {
    font-size: 30px;
}

.fix {
    font-size: 15px;
}

td {
    font-size: 12px;
}

.spn {
    font-size: 9px;
}