@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Jura&display=swap');


body {
    font-family: 'Jura', sans-serif;
}

.navbar-brand {
    font-family: 'Dancing Script', cursive !important;
    font-size: 30pt;
}