// background
.bg-primary {
    background-color: #1b5589 !important;
}
.bg-secondary {
    background-color: #6c757d !important;
}
.bg-access {
    background-color: #6fd084 !important;
}
.bg-info {
    background-color: #37b0c1 !important;
}
.bg-danger {
    background-color: #f98691 !important;
}
.bg-light-custom {
    background-color: #f8f9fa;
}
.bg-green-custom {
    background-color: #28a745;
    font-size: 12px;
}
// text-color
.text-light-custom {
    color: #f8f9fa;
}
.text-success {
    color: #6fd084 !important;
}
.text-info {
    color: #37b0c1 !important;
}
.text-danger {
    color: #f98691 !important;
}

.btn-secondary {
    color: #6c757d !important;
}

i {
    font-size: 40px;
}

.circle {
    font-size: 20px;
}

hr {
    opacity: .2;
}

.image_img {
    width: 200px;
}
// Arrow
.arrow {
    position: relative;
    z-index: 10;
    background-color: #f8f8f8;
}
.arrow-left::after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    z-index: 10;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    margin-top: -20px;
    top: 50%;
    border-right: 20px solid #f8f8f8;
    left: -20px;
}
.arrow-right::after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    z-index: 10;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    margin-top: -20px;
    top: 50%;
    border-left: 20px solid #f8f8f8;
    right: -20px;
}

// Margin
.ml-5 {
    margin-left: 60px !important;
}

.fa-download, .fa-trash-alt, .fa-redo {
    font-size: 20px;
}
