body {
    background: url(img/fon.jpg) no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.fix:valid {
    border: 1px solid #17a2b8;
    background-image: url(img/valid.png);
    background-position: 97% center;
    background-repeat: no-repeat;
    background-size: 20px;
    border-color: #17a2b8;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #17a2b8;
    outline: 0 none;
}

.fix:invalid {
    background-image: url(img/invalid.png);
    background-position: 97% center;
    background-repeat: no-repeat;
    background-size: 20px;
    border-color: #e87087;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #e87087;
    outline: 0 none;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: auto;
    box-shadow: auto;
    outline: 0 none;
}
/* ================================ */
.bg-light {
    background-color: rgba(255, 255, 255, 0.808) !important;
}
.btn-info {
    background-color: #17a2b8 !important;
}
.text-info {
    color: #17a2b8 !important;
}
/* ================================ */
.form-check-input:checked {
    background-color: #17a2b8;
    border-color: #17a2b8;
  }
